#spltr-94AD3332-1CCE-43B0-96E0-C3A91A3E575F {
  width: 6.357279084551812%;
  margin-left: auto;
  background-color: #f5f5f5;
}
#spltr-D66D5C13-185F-4D05-96B7-835ACC395C2C {
  width: auto;
  display: block;
}
#spltr-5D14709D-9745-4FFB-BE66-2EE0FC6E6B7F {
  width: auto;
  display: block;
}

/* check this later */
#spltr-F3325361-B44F-4866-B2B8-45CECDA728A6 { 
  width: 33.1532104259377%;
  display: flex;
  flex-direction: column;
}
#spltr-F6626B40-F487-460E-BFFF-AB4185F81B4F {
  width: 50%;
}
#spltr-015EC39E-ADC2-4A86-A531-0853B52E7127 {
  width: 50%;
}
#spltr-B059F884-EB30-47B4-969E-BD0294052B21 {
  width: auto;
  display: block;
}
#spltr-832C20FB-E176-4463-95D6-F34FCB1B98E2 {
  width: 59.97314746827001%;
  display: none;
}
#spltr-011AAAD6-1D5C-4BF9-9CF6-323F84219576 {
  width: 37.50708333333333%;
}
#spltr-2C554E83-FC3D-4604-992F-3812BC5D3CD3 {
  display: flex;
  width: 62.49049999999999%;
  gap: 90px;
  /* width: fit-content; */
  justify-content: center;
}
#spltr-09FCE201-32CB-4BE8-AF9F-97812B15FC83 {
  width: 41.13226346563717%;
}
#spltr-51F5456D-D24C-4CA5-BC7B-94AC2B8140E0 {
  width: 58.864240506724244%;
}
#spltr-CCD8773D-2441-44FB-BEEA-53C95CD2B121 {
  display: none;
}
#spltr-527426EE-D8A6-4D69-B13C-6908D0B9F0B8 {
  width: 29.332416666666667%;
}
#spltr-B69818C7-FA9E-4E11-BACB-343A60499CE0 {
  width: 70.66524999999999%;
}
#spltr-DE54DEAB-75CE-46B9-9DD8-DB8CA722F44C {
  width: 53.251666666666665%;
}
#spltr-1EA8294F-A9E3-4F4B-B4AE-83F018B9822B {
  width: 46.747166666666665%;
}
#spltr-E58A5A0A-338C-4756-B5EE-D9201EB52BC2 {
  width: 50%;
}
#spltr-5FAB0BF8-DBBC-460C-96D7-312BACE0AFE4 {
  width: 50%;
}
#spltr-087BF7C2-9A73-40A1-A7F1-6E6F959D2570 {
  width: 75.419%;
  background-color: #f5f5f5;
}
#spltr-83DC216B-6112-4047-AF84-4B6942E520C3 {
  /* width: 24.57858333333333%; */
  background-color: #f5f5f5;
  height: 200px;
}
#spltr-DBE84D60-22A8-422A-8A2D-B549AD02F103 {
  width: 67.06439359614157%;
}
#spltr-3F94D51C-B583-418D-9753-50AF0CE04178 {
  width: 32.93251470953532%;
}
#spltr-2F3812D0-9FCA-4472-9ED4-41C46FCE0729 {
  width: 50.23528350651735%;
  background-color: #f5f5f5;
}
#spltr-CADDDB5C-DBA6-4A86-B2C3-DF1EE2D9A5B8 {
  width: 49.76253938238469%;
}
.body > .body-section > .widget-container {
  /* width: 1200px; */
  min-width: 1536px;
}
.body > .widget-container {
  /* width: 1200px; */
  min-width: 1536px;
}
.header > .widget-container {
  width: auto;
  height: 200px;
}
.footer > .widget-container {
  width: auto;
  height: 200px;
}

#wi-EDE47106-CC56-49F1-BD40-DFD338F4A4AB {
  font-size: 8px;
}
#wi-970B750A-701A-4AAA-8735-61D81737B8E7 {
  font-size: 4rem;
}
#wi-47185D87-0220-4770-8559-D949ABEB10E4 {
  text-align: center;
  padding-top: 13px;
}
#wi-C0E36B25-E31C-4FC8-B841-C5506107428B {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#wi-C0E36B25-E31C-4FC8-B841-C5506107428B ftDsc {
  display: flex;
}
#wi-92F36AEE-7AD6-44D2-8F3A-85B820E79C77 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 13px;
}

#wi-DB9620B2-5E98-481F-8F85-B59D77E50C06 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

#wi-202FAE19-E464-4E0C-9E0F-82D34B25740A {
  background: #f5f5f5;
  text-align: center;
  min-height: 35px;
}
#wi-8F4F6AD3-6818-4749-889D-D6AF80A6706A {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom CSS */

.subheroTxt {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100vw;
}

.subHeroTxt h1 {
  display: flex;
  font-size: 6rem;
  color: black;
}

.subHeroTxt p {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

/* Product Component */
.productComponent .content{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.productComponent .content .product-block {
  display: block;
  position: relative;
  min-width: 350px !important;
  height: 450px;
  border: none;
  border: solid rgba(0, 0, 0, 0.08) 1px;
  box-shadow: ;
  border-radius: 15px;
  padding: 0px !important;
}

.productComponent .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: #f5f5f5;
}

.productComponent .btn-add {
  position: absolute;
  top: 183px;
  right: 5px;
  padding-right: 10px;
}
.productComponent .btn-add span {
  font-size: 1rem;
  border-radius: 5px;
}

.productComponent .block-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
}

.productComponent .block-content-wrap .product-name a {
  font-size: 20px;
  font-weight: bold !important;
  color: black !important;
}

.productComponent .price-waper .label-for-price {
  font-size: 16px !important;
  font-weight: 200;
}

.productComponent .price-waper .current-price {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.productComponent .price-waper .previous-price {
  display: block;
  font-size: 16px;
  font-weight: 300;
}
.productComponent .price-waper .tax-message {
  font-size: 10px;
  font-weight: 100;
}

/* Action Card */
#spltr-9678AB00-0429-4BD3-8D44-803226C0846B{ /* Action Card Main Container */
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  margin-bottom: 90px;
}

#spltr-505D895E-8F66-43F8-91B1-C741EF343905{ /* Action Card sub Container */
  display: flex;
  width: fit-content !important;
  gap: 95px;
}

/* Selecting all card wrapper container */
#spltr-1C536A4B-89B7-40D2-8027-B6B0819EFC3A, #spltr-505D895E-8F66-43F8-91B1-C741EF343905>div{
  position: relative !important;
  max-height: 450px ;
  min-width: 450px ;
  max-width: 450px ;
  flex: 1;
}

#spltr-9678AB00-0429-4BD3-8D44-803226C0846B .acImg img{
  min-width: 100%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

#spltr-9678AB00-0429-4BD3-8D44-803226C0846B .acTxt{
  min-width: 100%;
  min-height: 500px;
  max-height: 500px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  z-index: 10;
}

.acTxt p {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

/* CountDown Section */

#spltr-F208C17F-DED1-4ECB-8569-29820397F727{ /* section container id */
  position: relative !important;
  max-height: 300px;
  margin-bottom: 30px;
}
#spltr-F208C17F-DED1-4ECB-8569-29820397F727 .countDownBg img{
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

#spltr-F208C17F-DED1-4ECB-8569-29820397F727 .countDownTxt{
  min-width: 100%;
  max-height: 300px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.countDownTxt h1{
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.countDownTxt p{
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.countDownTxt h2{
  color: white;
  font-weight: bold;
  font-size: 32px;
}

/* StreamLine Your Gear */
#spltr-41E7ECDC-0160-4BF3-A4BE-EFC17251D8D6{
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 30px;
}
#spltr-F46C1057-61FA-45CD-9852-FAEFEB9C3D50{
  width: 50% !important;
}

.stmDisplayImg {
  width: fit-content;
}

.stmDisplayImg img {
  width: fit-content;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.productBlockTxt {
  display: flex;
  min-width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  min-width: 100%;
}

.productBlockTxt h1 {
  font-size: 36px;
  color: black;
  font-weight: bold;
}

.productBlockTxt p {
  font-size: 18px;
  color: black;
}


/* Image Boxes */
#spltr-02B00CCC-F03F-475A-8AF7-0EEB1A0AF607,
#spltr-75335859-1570-4505-AD02-2AE55904795E {
  display: flex;
  max-height: fit-content;
  width: 100%;
}
/* 1R-C1 */
#spltr-7AD6BAD3-12EC-4D5A-B55F-D06F2EFF0726{
  max-width: 40%;
}
/* 2R-C2 */
#wi-08EDA684-317F-44A8-AB35-4B1B0A88F259 {
  max-width: 40%;
}

#spltr-75335859-1570-4505-AD02-2AE55904795E .grid-block, #spltr-02B00CCC-F03F-475A-8AF7-0EEB1A0AF607 .grid-block{
  position: relative !important;
  max-height: 300px;
  flex: 1;
  margin: 10px;
}

/* Selecting two Image Box Main div and applying css based on ".boxImg" and ".boxTxt" classname */
#spltr-02B00CCC-F03F-475A-8AF7-0EEB1A0AF607 .boxImg img, #spltr-75335859-1570-4505-AD02-2AE55904795E .boxImg img{
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
#spltr-02B00CCC-F03F-475A-8AF7-0EEB1A0AF607 .boxTxt, #spltr-75335859-1570-4505-AD02-2AE55904795E .boxTxt{
  min-width: 100%;
  max-height: 300px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  z-index: 10;
}

/* Unique Sevice Banner */

#spltr-DE54DEAB-75CE-46B9-9DD8-DB8CA722F44C{
  display: flex !important;
  width: 100% !important;
  justify-content: space-around;
  align-items: center;
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 50px;
}
#spltr-DE54DEAB-75CE-46B9-9DD8-DB8CA722F44C .uqServiceComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.uqServiceComponent figure img {
  width: 100px;
  height: 100px;
}

.uqServiceComponent h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.uqServiceComponent p{
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 450px) {
  .subHeroTxt {
    width: 400px;
    padding: 0 10px;
  }
  .subHeroTxt h1 {
    font-size: 4rem;
  }
}
